name: Documentation build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install -e '.[dev, fury]'
    - name: Build docs
      run: |
        cd doc
        make html
    - name: Upload docs
      uses: actions/upload-artifact@v1
      with:
        name: docs
        path: doc/_build/html
    - name: Publish docs to Github Pages
      if: startsWith(github.event.ref, 'refs/tags')
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages # The branch the action should deploy to.
        FOLDER: doc/_build/html # The folder the action should deploy.
